@model IEnumerable<EventEase.Models.ViewModels.VenueWithBookingCount>

@{
    ViewData["Title"] = "Venue List";
}

<h2>Venues</h2>

@if (TempData["VenueDeleteError"] != null)
{
    <div class="alert alert-warning">
        @TempData["VenueDeleteError"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Bookings</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Venue.Name</td>
                <td>@item.Venue.Location</td>
                <td>@item.Venue.Capacity</td>
                <td>@item.BookingCount</td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Venue.VenueID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Venue.VenueID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Venue</a>
